In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#to display all columns in the dataset
pd.pandas.set_option('display.max_columns',None)

In [2]:
# importing the data
data = pd.read_csv('YourCabs.csv')

#displaying first few rows of data
data.head()

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,to_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation
0,132512,22177,28,NaN,2,83.0,448.0,NaN,NaN,1/1/2013 2:00,NaN,0,0,1/1/2013 1:39,12.924150,77.672290,12.927320,77.635750,0
1,132513,21413,12,NaN,2,1010.0,540.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 2:25,12.966910,77.749350,12.927680,77.626640,0
2,132514,22178,12,NaN,2,1301.0,1034.0,NaN,NaN,1/1/2013 3:30,NaN,0,0,1/1/2013 3:08,12.937222,77.626915,13.047926,77.597766,0
3,132515,13034,12,NaN,2,768.0,398.0,NaN,NaN,1/1/2013 5:45,NaN,0,0,1/1/2013 4:39,12.989990,77.553320,12.971430,77.639140,0
4,132517,22180,12,NaN,2,1365.0,849.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 7:53,12.845653,77.677925,12.954340,77.600720,0

In [3]:
# checking the number of rows and columns

print('number of rows :',data.shape[0])
print('number of columns :',data.shape[1])

number of rows : 43431
number of columns : 19

In [4]:
# information about the data

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43431 entries, 0 to 43430
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   43431 non-null  int64
 1   user_id              43431 non-null  int64
 2   vehicle_model_id     43431 non-null  int64
 3   package_id           7550 non-null   float64
 4   travel_type_id       43431 non-null  int64
 5   from_area_id         43343 non-null  float64
 6   to_area_id           34293 non-null  float64
 7   from_city_id         16345 non-null  float64
 8   to_city_id           1588 non-null   float64
 9   from_date            43431 non-null  object
 10  to_date              25541 non-null  float64
 11  online_booking       43431 non-null  int64
 12  mobile_site_booking  43431 non-null  int64
 13  booking_created      43431 non-null  object
 14  from_lat             43338 non-null  float64
 15  from_long            43338 non-null  float64
 16  to_lat               34293 non-null  float64
 17  to_long              34293 non-null  float64
 18  Car_Cancellation     43431 non-null  int64
dtypes: float64(10), int64(7), object(2)
memory usage: 6.3+ MB

In [5]:
#!pip install pandas_profiling

In [6]:
# profile report
import pandas_profiling

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\2289324396.py:2: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling

In [7]:
#profile_report = pandas_profiling.ProfileReport(data)

In [8]:
#profile_report.to_file('profile_report.html')

In [9]:
# based on profile report following features can be dropped due to high correlation and constant values.

# id, package_id, to_area_id, from_city_id, to_city_id, to_date, booking_created, to_lat, to_long

In [10]:
# Data Preperation - 1

In [11]:
# checking variable names are appropriate or ot
data.columns

Index(['id', 'user_id', 'vehicle_model_id', 'package_id', 'travel_type_id',
       'from_area_id', 'to_area_id', 'from_city_id', 'to_city_id', 'from_date',
       'to_date', 'online_booking', 'mobile_site_booking', 'booking_created',
       'from_lat', 'from_long', 'to_lat', 'to_long', 'Car_Cancellation'],
      dtype='object')

In [12]:
# we can se all the varibale names are appropriate

In [13]:
# based on profile report dropping columns
data.drop(columns=['id', 'package_id', 'to_area_id', 'from_city_id', 'to_city_id', 'to_date', 
                   'booking_created', 'to_lat', 'to_long'], axis=1, inplace=True)

In [14]:
data.columns

Index(['user_id', 'vehicle_model_id', 'travel_type_id', 'from_area_id',
       'from_date', 'online_booking', 'mobile_site_booking', 'from_lat',
       'from_long', 'Car_Cancellation'],
      dtype='object')

In [15]:
# Type casting of variables

# checking any mismatch in the data types

data.dtypes

user_id                  int64
vehicle_model_id         int64
travel_type_id           int64
from_area_id           float64
from_date               object
online_booking           int64
mobile_site_booking      int64
from_lat               float64
from_long              float64
Car_Cancellation         int64
dtype: object

In [16]:
data.head(5)

,user_id,vehicle_model_id,travel_type_id,from_area_id,from_date,online_booking,mobile_site_booking,from_lat,from_long,Car_Cancellation
0,22177,28,2,83.0,1/1/2013 2:00,0,0,12.924150,77.672290,0
1,21413,12,2,1010.0,1/1/2013 9:00,0,0,12.966910,77.749350,0
2,22178,12,2,1301.0,1/1/2013 3:30,0,0,12.937222,77.626915,0
3,13034,12,2,768.0,1/1/2013 5:45,0,0,12.989990,77.553320,0
4,22180,12,2,1365.0,1/1/2013 9:00,0,0,12.845653,77.677925,0

In [17]:
# we can see that variable from_date is having mismatched datatype

In [18]:
# converting to correct datatype
data['from_date'] =  pd.to_datetime(data['from_date'], infer_datetime_format=True)

In [19]:
# confirming variable from_date have correct datatype
data.dtypes

user_id                         int64
vehicle_model_id                int64
travel_type_id                  int64
from_area_id                  float64
from_date              datetime64[ns]
online_booking                  int64
mobile_site_booking             int64
from_lat                      float64
from_long                     float64
Car_Cancellation                int64
dtype: object

In [20]:
# we can see there are very less records with null entries
data.isnull().sum()

user_id                 0
vehicle_model_id        0
travel_type_id          0
from_area_id           88
from_date               0
online_booking          0
mobile_site_booking     0
from_lat               93
from_long              93
Car_Cancellation        0
dtype: int64

In [21]:
# since there are less null records we can either drop the null records or replace with mean.

In [22]:
# dropping the null records
data = data.dropna(subset=['from_area_id','from_lat','from_long'])

In [23]:
# handing for outliers

data.describe()

,user_id,vehicle_model_id,travel_type_id,from_area_id,online_booking,mobile_site_booking,from_lat,from_long,Car_Cancellation
count,43338.000000,43338.000000,43338.000000,43338.000000,43338.000000,43338.000000,43338.000000,43338.000000,43338.000000
mean,30728.944298,25.684872,2.139693,714.465827,0.350847,0.043288,12.982461,77.636255,0.072223
std,10995.983150,26.781399,0.434996,419.843890,0.477241,0.203506,0.085933,0.059391,0.258860
min,16.000000,1.000000,1.000000,2.000000,0.000000,0.000000,12.776630,77.386930,0.000000
25%,24603.250000,12.000000,2.000000,393.000000,0.000000,0.000000,12.926450,77.593661,0.000000
50%,31608.500000,12.000000,2.000000,590.000000,0.000000,0.000000,12.968887,77.635750,0.000000
75%,39162.750000,24.000000,2.000000,1089.000000,1.000000,0.000000,13.007750,77.688900,0.000000
max,48730.000000,91.000000,3.000000,1403.000000,1.000000,1.000000,13.366072,77.786420,1.000000

In [24]:
def outlier_treat(x):
    if ((x.dtype=='int') | (x.dtype=='float')):
        x = x.clip(lower=x.quantile(0.03), upper=x.quantile(0.97))
    else:
        x = x
    return x

In [25]:
data = data.apply(outlier_treat)

In [26]:
data.describe()

,user_id,vehicle_model_id,travel_type_id,from_area_id,online_booking,mobile_site_booking,from_lat,from_long,Car_Cancellation
count,43338.000000,43338.000000,43338.000000,43338.000000,43338.000000,43338.000000,43338.000000,43338.000000,43338.000000
mean,30728.944298,25.684872,2.139693,715.175989,0.350847,0.043288,12.982690,77.636723,0.072223
std,10995.983150,26.781399,0.434996,418.271303,0.477241,0.203506,0.085317,0.056829,0.258860
min,16.000000,1.000000,1.000000,83.000000,0.000000,0.000000,12.849482,77.533286,0.000000
25%,24603.250000,12.000000,2.000000,393.000000,0.000000,0.000000,12.926450,77.593661,0.000000
50%,31608.500000,12.000000,2.000000,590.000000,0.000000,0.000000,12.968887,77.635750,0.000000
75%,39162.750000,24.000000,2.000000,1089.000000,1.000000,0.000000,13.007750,77.688900,0.000000
max,48730.000000,91.000000,3.000000,1383.000000,1.000000,1.000000,13.199560,77.735245,1.000000

In [27]:
# checking weather encoding is required

cat_var = [feature for feature in data.columns if data[feature].dtype=='O']

print('categorical variable count {}'.format(len(cat_var)))

# display of data with categorical features

categorical variable count 0

In [28]:
# we can see that there are no categorical variable hence encoding is not required

In [29]:
data.head()

,user_id,vehicle_model_id,travel_type_id,from_area_id,from_date,online_booking,mobile_site_booking,from_lat,from_long,Car_Cancellation
0,22177,28,2,83.0,2013-01-01 02:00:00,0,0,12.924150,77.672290,0
1,21413,12,2,1010.0,2013-01-01 09:00:00,0,0,12.966910,77.735245,0
2,22178,12,2,1301.0,2013-01-01 03:30:00,0,0,12.937222,77.626915,0
3,13034,12,2,768.0,2013-01-01 05:45:00,0,0,12.989990,77.553320,0
4,22180,12,2,1365.0,2013-01-01 09:00:00,0,0,12.849482,77.677925,0

In [30]:
# convenrting date variable

data['day_of_jrny'] = pd.to_datetime(data.from_date ,format='%y/%m/%d').dt.day
data['month_of_jrny'] = pd.to_datetime(data.from_date ,format='%y/%m/%d').dt.month
data['year_of_jrny'] = pd.to_datetime(data.from_date ,format='%y/%m/%d').dt.year
data['jrny_time']=pd.to_datetime(data['from_date']).dt.hour
data['jrny_min']=pd.to_datetime(data['from_date']).dt.minute

In [31]:
data.drop('from_date',axis=1,inplace=True)

In [32]:
data.head(5)

,user_id,vehicle_model_id,travel_type_id,from_area_id,online_booking,mobile_site_booking,from_lat,from_long,Car_Cancellation,day_of_jrny,month_of_jrny,year_of_jrny,jrny_time,jrny_min
0,22177,28,2,83.0,0,0,12.924150,77.672290,0,1,1,2013,2,0
1,21413,12,2,1010.0,0,0,12.966910,77.735245,0,1,1,2013,9,0
2,22178,12,2,1301.0,0,0,12.937222,77.626915,0,1,1,2013,3,30
3,13034,12,2,768.0,0,0,12.989990,77.553320,0,1,1,2013,5,45
4,22180,12,2,1365.0,0,0,12.849482,77.677925,0,1,1,2013,9,0

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43338 entries, 0 to 43430
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              43338 non-null  int64
 1   vehicle_model_id     43338 non-null  int64
 2   travel_type_id       43338 non-null  int64
 3   from_area_id         43338 non-null  float64
 4   online_booking       43338 non-null  int64
 5   mobile_site_booking  43338 non-null  int64
 6   from_lat             43338 non-null  float64
 7   from_long            43338 non-null  float64
 8   Car_Cancellation     43338 non-null  int64
 9   day_of_jrny          43338 non-null  int64
 10  month_of_jrny        43338 non-null  int64
 11  year_of_jrny         43338 non-null  int64
 12  jrny_time            43338 non-null  int64
 13  jrny_min             43338 non-null  int64
dtypes: float64(3), int64(11)
memory usage: 5.0 MB

### Classification without sampling

In [34]:
# Feature Engineering - Variable Reduction

In [35]:
# Information Value

In [36]:
#Information value calculation
def calculate_woe_iv(dataset, feature, target):
    lst = []
    for i in range(dataset[feature].nunique()):
        val = list(dataset[feature].unique())[i]
        lst.append({
            'Value': val,
            'All': dataset[dataset[feature] == val].count()[feature],
            'Good': dataset[(dataset[feature] == val) & (dataset[target] == 0)].count()[feature],
            'Bad': dataset[(dataset[feature] == val) & (dataset[target] == 1)].count()[feature]
        })
        
    dset = pd.DataFrame(lst)
    dset['Distr_Good'] = dset['Good'] / dset['Good'].sum()
    dset['Distr_Bad'] = dset['Bad'] / dset['Bad'].sum()
    dset['WoE'] = np.log(dset['Distr_Good'] / dset['Distr_Bad'])
    dset = dset.replace({'WoE': {np.inf: 0, -np.inf: 0}})
    dset['IV'] = (dset['Distr_Good'] - dset['Distr_Bad']) * dset['WoE']
    iv = dset['IV'].sum()
    
    dset = dset.sort_values(by='WoE')
    
    return dset, iv

In [37]:
for col in data.columns:
    if col == 'Car_Cancellation': 
        continue
    else:
        print('WoE and IV for column: {}'.format(col))
        df, iv = calculate_woe_iv(data, col, 'Car_Cancellation')
        #print(df)
        print('IV score: {:.2f}'.format(iv))
        print('\n')

WoE and IV for column: user_id

C:\Users\LingrajRipplr\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

IV score: 0.64


WoE and IV for column: vehicle_model_id
IV score: 0.39


WoE and IV for column: travel_type_id
IV score: 0.10


WoE and IV for column: from_area_id

C:\Users\LingrajRipplr\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

IV score: 0.44


WoE and IV for column: online_booking
IV score: 0.32


WoE and IV for column: mobile_site_booking
IV score: 0.05


WoE and IV for column: from_lat

C:\Users\LingrajRipplr\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

IV score: 0.42


WoE and IV for column: from_long

C:\Users\LingrajRipplr\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

IV score: 0.40


WoE and IV for column: day_of_jrny
IV score: 0.14


WoE and IV for column: month_of_jrny
IV score: 0.63


WoE and IV for column: year_of_jrny
IV score: 0.00


WoE and IV for column: jrny_time
IV score: 0.29


WoE and IV for column: jrny_min
IV score: 0.01

You can select the variables based on the information value and below criteria

IV: <0.02, Predictive Power: Useless for prediction
IV: 0.02 - 0.1, Predictive Power: Weak predictor
IV: 0.1 - 0.3, Predictive Power: Medium predictor
IV: 0.3 - 0.5, Predictive Power: Storng predictor
IV: > 0.5, Predictive Power: Suspecious predictor or too good predictor

In [38]:
# important features selected by Information Value(selecting Medium predictor, Storng predictor and Suspecious predictor)

l_iv = ['user_id', 
        'vehicle_model_id',
        'travel_type_id',
        'from_area_id',
        'online_booking',
        'from_lat',
        'from_long',
       'day_of_jrny',
       'month_of_jrny',
        'jrny_time']

In [39]:
# RFE
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier

In [40]:
x = data[data.columns.difference(['Car_Cancellation'])]
y = data.Car_Cancellation

In [41]:
rfe = RFE(RandomForestClassifier(), n_features_to_select=10)

In [42]:
rfe.fit(x, y)

RFE(estimator=RandomForestClassifier(), n_features_to_select=10)

In [43]:
l2_rfe = x.columns[rfe.get_support()]

In [44]:
list(l2_rfe)

['day_of_jrny',
 'from_area_id',
 'from_lat',
 'from_long',
 'jrny_min',
 'jrny_time',
 'month_of_jrny',
 'online_booking',
 'user_id',
 'vehicle_model_id']

In [45]:
# SelectKBest
from sklearn.feature_selection import SelectKBest, f_classif

In [46]:
SKB = SelectKBest(f_classif, k=10).fit(x,y)

In [47]:
l3_SKB = x.columns[SKB.get_support()]

In [48]:
list(l3_SKB)

['day_of_jrny',
 'from_lat',
 'from_long',
 'jrny_time',
 'mobile_site_booking',
 'month_of_jrny',
 'online_booking',
 'travel_type_id',
 'user_id',
 'vehicle_model_id']

In [49]:
list(set(list(l_iv)+list(l2_rfe)+list(l3_SKB)))

['from_lat',
 'month_of_jrny',
 'jrny_min',
 'from_area_id',
 'user_id',
 'travel_type_id',
 'day_of_jrny',
 'vehicle_model_id',
 'online_booking',
 'jrny_time',
 'mobile_site_booking',
 'from_long']

In [50]:
Final_list = ['from_lat',
 'month_of_jrny',
 'jrny_min',
 'from_area_id',
 'user_id',
 'travel_type_id',
 'day_of_jrny',
 'vehicle_model_id',
 'online_booking',
 'jrny_time',
 'mobile_site_booking',
 'from_long']

In [51]:
x_new = x[Final_list]
y = y

In [52]:
#vif
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [53]:
vif = pd.DataFrame()
vif["VIF_Factor"] = [variance_inflation_factor(x_new.values, i) for i in range(x_new.shape[1])]
vif["features"] = x_new.columns

vif.sort_values(by='VIF_Factor', ascending=False, inplace=True)
vif

      VIF_Factor             features
11  24991.037224            from_long
0   24876.629793             from_lat
5      25.654174       travel_type_id
4      13.670018              user_id
1       9.132782        month_of_jrny
9       4.942667            jrny_time
6       4.203413          day_of_jrny
3       3.972974         from_area_id
2       2.212818             jrny_min
7       1.937823     vehicle_model_id
8       1.616835       online_booking
10      1.087518  mobile_site_booking

In [54]:
# based on vif will drop variable from_long
x_new.drop('from_long',axis=1,inplace=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\777258334.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_new.drop('from_long',axis=1,inplace=True)

In [55]:
vif = pd.DataFrame()
vif["VIF_Factor"] = [variance_inflation_factor(x_new.values, i) for i in range(x_new.shape[1])]
vif["features"] = x_new.columns

vif.sort_values(by='VIF_Factor', ascending=False, inplace=True)
vif

    VIF_Factor             features
0    45.776420             from_lat
5    25.280757       travel_type_id
4    13.666196              user_id
1     9.131832        month_of_jrny
9     4.930305            jrny_time
6     4.203353          day_of_jrny
3     3.924704         from_area_id
2     2.210378             jrny_min
7     1.934245     vehicle_model_id
8     1.615650       online_booking
10    1.086377  mobile_site_booking

In [56]:
# based on vif will drop variable from_lat
x_new.drop('from_lat',axis=1,inplace=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\3710483514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_new.drop('from_lat',axis=1,inplace=True)

In [57]:
vif = pd.DataFrame()
vif["VIF_Factor"] = [variance_inflation_factor(x_new.values, i) for i in range(x_new.shape[1])]
vif["features"] = x_new.columns

vif.sort_values(by='VIF_Factor', ascending=False, inplace=True)
vif

   VIF_Factor             features
3   12.625751              user_id
4   11.801408       travel_type_id
0    9.057845        month_of_jrny
8    4.529197            jrny_time
5    3.946626          day_of_jrny
2    3.731666         from_area_id
1    2.146847             jrny_min
6    1.892113     vehicle_model_id
7    1.592747       online_booking
9    1.084755  mobile_site_booking

In [58]:
# based on vif will drop variable user_id
x_new.drop('user_id',axis=1,inplace=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\2629404181.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_new.drop('user_id',axis=1,inplace=True)

In [59]:
vif = pd.DataFrame()
vif["VIF_Factor"] = [variance_inflation_factor(x_new.values, i) for i in range(x_new.shape[1])]
vif["features"] = x_new.columns

vif.sort_values(by='VIF_Factor', ascending=False, inplace=True)
vif

   VIF_Factor             features
3   11.101797       travel_type_id
0    5.393147        month_of_jrny
7    4.494436            jrny_time
4    3.846347          day_of_jrny
2    3.711413         from_area_id
1    2.143259             jrny_min
5    1.881834     vehicle_model_id
6    1.583351       online_booking
8    1.084393  mobile_site_booking

In [60]:
# based on vif will drop variable travel_type_id
x_new.drop('travel_type_id',axis=1,inplace=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\2051468998.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_new.drop('travel_type_id',axis=1,inplace=True)

In [61]:
vif = pd.DataFrame()
vif["VIF_Factor"] = [variance_inflation_factor(x_new.values, i) for i in range(x_new.shape[1])]
vif["features"] = x_new.columns

vif.sort_values(by='VIF_Factor', ascending=False, inplace=True)
vif

   VIF_Factor             features
0    4.493368        month_of_jrny
6    3.783834            jrny_time
3    3.405895          day_of_jrny
2    3.336738         from_area_id
1    2.064731             jrny_min
4    1.846757     vehicle_model_id
5    1.580175       online_booking
7    1.084322  mobile_site_booking

In [62]:
new_data = pd.concat([x_new, y], axis=1)

In [63]:
new_data.head()

,month_of_jrny,jrny_min,from_area_id,day_of_jrny,vehicle_model_id,online_booking,jrny_time,mobile_site_booking,Car_Cancellation
0,1,0,83.0,1,28,0,2,0,0
1,1,0,1010.0,1,12,0,9,0,0
2,1,30,1301.0,1,12,0,3,0,0
3,1,45,768.0,1,12,0,5,0,0
4,1,0,1365.0,1,12,0,9,0,0

In [64]:
# train test split
from sklearn.model_selection import train_test_split

In [65]:
train, test = train_test_split(new_data, test_size=0.3, random_state=123)

In [66]:
train.shape

(30336, 9)

In [67]:
test.shape

(13002, 9)

In [68]:
# model building
import statsmodels.formula.api as smf

In [69]:
eqn = 'Car_Cancellation~'+'+'.join(train.columns.difference(['Car_Cancellation']))
eqn

'Car_Cancellation~day_of_jrny+from_area_id+jrny_min+jrny_time+mobile_site_booking+month_of_jrny+online_booking+vehicle_model_id'

In [70]:
model_logit = smf.logit(eqn, data=train).fit()
print(model_logit.summary())

Optimization terminated successfully.
         Current function value: 0.227981
         Iterations 8
                           Logit Regression Results
==============================================================================
Dep. Variable:       Car_Cancellation   No. Observations:                30336
Model:                          Logit   Df Residuals:                    30327
Method:                           MLE   Df Model:                            8
Date:                Fri, 14 Apr 2023   Pseudo R-squ.:                  0.1170
Time:                        19:10:08   Log-Likelihood:                -6916.0
converged:                       True   LL-Null:                       -7832.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept              -5.3016      0.119    -44.566      0.000      -5.535      -5.068
day_of_jrny            -0.0055      0.003     -2.052      0.040      -0.011      -0.000
from_area_id         9.733e-05   5.46e-05      1.782      0.075   -9.74e-06       0.000
jrny_min               -0.0008      0.001     -0.603      0.547      -0.004       0.002
jrny_time               0.0714      0.004     18.707      0.000       0.064       0.079
mobile_site_booking     1.4033      0.088     15.864      0.000       1.230       1.577
month_of_jrny           0.1910      0.009     21.011      0.000       0.173       0.209
online_booking          1.2900      0.050     25.589      0.000       1.191       1.389
vehicle_model_id       -0.0097      0.001     -9.559      0.000      -0.012      -0.008
=======================================================================================

In [71]:
train_prob = model_logit.predict(train)

In [72]:
test_prob = model_logit.predict(test)

In [73]:
# metrics
from sklearn import metrics

In [74]:
print('train_auc', metrics.roc_auc_score(train.Car_Cancellation, train_prob))
print('test_auc', metrics.roc_auc_score(test.Car_Cancellation, test_prob))
print('---------------------------------------------------------------')
print('train_gini', 2*metrics.roc_auc_score(train.Car_Cancellation, train_prob)-1)
print('test_gini', 2*metrics.roc_auc_score(test.Car_Cancellation, test_prob)-1)

train_auc 0.7607664547714099
test_auc 0.7474810142599775
---------------------------------------------------------------
train_gini 0.5215329095428198
test_gini 0.49496202851995497

In [75]:
train['pred_prob'] = train_prob
test['pred_prob'] = test_prob

In [76]:
# finding best cutoff 
# Getting highest sensitivity+specificity

In [77]:
roc_df = pd.DataFrame()
for cut_off in np.linspace(0,1):
    #roc_df_temp['cut_off'] = cut_off
    train['y_pred'] = np.where(train.pred_prob>cut_off, 1, 0)
    train['TP'] = np.where(((train.Car_Cancellation ==1) & (train.y_pred==1)), 1, 0)
    train['TN'] = np.where(((train.Car_Cancellation ==0) & (train.y_pred==0)), 1, 0)
    train['FP'] = np.where(((train.Car_Cancellation ==0) & (train.y_pred==1)), 1, 0)
    train['FN'] = np.where(((train.Car_Cancellation ==1) & (train.y_pred==0)), 1, 0)
    sensitivity = train.TP.sum()/train.Car_Cancellation.sum()
    specificity = train.TN.sum()/(1-train.Car_Cancellation).sum()
    accuracy = (train.TN.sum()+train.TP.sum())/train.Car_Cancellation.count()
    roc_like_table = pd.DataFrame([cut_off, sensitivity, specificity, accuracy]).T
    roc_like_table.columns = ['cutoff', 'sensitivity', 'specificity', 'accuracy']
    roc_df = pd.concat([roc_df, roc_like_table], axis=0)

In [78]:
roc_df['Total'] = roc_df.sensitivity+roc_df.specificity

In [79]:
best_cutoff = roc_df.sort_values(by='Total', ascending=False).head(1).cutoff[0]
print('Best_cutoff: ', best_cutoff)

Best_cutoff:  0.08163265306122448

In [80]:
train['y_pred'] = np.where(train.pred_prob>best_cutoff, 1,0)

In [81]:
test['y_pred'] = np.where(test.pred_prob>best_cutoff, 1,0)

In [82]:
# roc_auc_scores

In [83]:
print('train_roc_auc_score :', metrics.roc_auc_score(train.Car_Cancellation, pd.DataFrame(train_prob)))
print('test_roc_auc_score :', metrics.roc_auc_score(test.Car_Cancellation, pd.DataFrame(test_prob)))

train_roc_auc_score : 0.7607664547714099
test_roc_auc_score : 0.7474810142599775

In [84]:
# accuracy scores

In [85]:
print('train_accuracy :', metrics.accuracy_score(train.Car_Cancellation, train.y_pred))
print('test_accuracy :', metrics.accuracy_score(test.Car_Cancellation, test.y_pred))

train_accuracy : 0.7262987869198312
test_accuracy : 0.7176588217197354

In [86]:
# classification report

In [87]:
print(metrics.classification_report(train.Car_Cancellation, train.y_pred))

              precision    recall  f1-score   support

           0       0.96      0.73      0.83     28159
           1       0.16      0.65      0.26      2177

    accuracy                           0.73     30336
   macro avg       0.56      0.69      0.54     30336
weighted avg       0.91      0.73      0.79     30336

In [88]:
print(metrics.classification_report(test.Car_Cancellation, test.y_pred))

              precision    recall  f1-score   support

           0       0.96      0.72      0.83     12049
           1       0.16      0.65      0.25       953

    accuracy                           0.72     13002
   macro avg       0.56      0.69      0.54     13002
weighted avg       0.90      0.72      0.78     13002

In [89]:
# creating a DataFrame to store the accuracies of all model, for the purpose of comapring
df1 = pd.DataFrame(columns=['model_name','train_accuracy','test_accuracy'])

In [90]:
# appending values from logistic model
df1 = df1.append({'model_name':'Logistic regression', 'train_accuracy': metrics.accuracy_score(train.Car_Cancellation, train.y_pred), 'test_accuracy': metrics.accuracy_score(test.Car_Cancellation, test.y_pred)}, ignore_index=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\2710246302.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append({'model_name':'Logistic regression', 'train_accuracy': metrics.accuracy_score(train.Car_Cancellation, train.y_pred), 'test_accuracy': metrics.accuracy_score(test.Car_Cancellation, test.y_pred)}, ignore_index=True)

In [91]:
# train test split
from sklearn.model_selection import train_test_split

In [92]:
train_x, test_x, train_y,  test_y = train_test_split(x_new, y, test_size=0.3, random_state=123)

In [93]:
train_x.shape

(30336, 8)

In [94]:
train_y.shape

(30336,)

In [95]:
test_x.shape

(13002, 8)

In [96]:
test_y.shape

(13002,)

In [97]:
# Random Forest Classifier

In [98]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [99]:
#using gridsearch
pargrid_ada = {'n_estimators': [50, 60, 70, 80, 90, 100],
                'max_features': [2,3,4],
              'max_depth': [2,3,4,5,6]}
gscv_Rf = GridSearchCV(estimator=RandomForestClassifier(), 
                        param_grid=pargrid_ada, 
                        cv=5,
                        verbose=True, n_jobs=-1, scoring='roc_auc').fit(train_x, train_y)

Fitting 5 folds for each of 90 candidates, totalling 450 fits

In [100]:
print(gscv_Rf.best_params_)
print(gscv_Rf.best_score_)

{'max_depth': 6, 'max_features': 3, 'n_estimators': 80}
0.821243522880341

In [101]:
rf_model = RandomForestClassifier(oob_score=True,n_estimators=80 , max_depth = 6, max_features=3, n_jobs=-1)
rf_model.fit( train_x, train_y )

RandomForestClassifier(max_depth=6, max_features=3, n_estimators=80, n_jobs=-1,
                       oob_score=True)

In [102]:
# udf for finding all metric results

def model_metric_results(model,train_x, train_y, test_x, test_y):
    print('accuracy_scores')
    print('train_accuracy :', metrics.accuracy_score(train_y, model.predict(train_x)))
    print('test_accuracy :', metrics.accuracy_score(test_y, model.predict(test_x)))
    print('------------------------------------------------------------------------------------------------------------')
    print('roc_auc_scores')
    print('roc_auc_train :', metrics.roc_auc_score(train_y, pd.DataFrame(model.predict_proba(train_x))[1]))
    print('roc_auc_test :', metrics.roc_auc_score(test_y, pd.DataFrame(model.predict_proba(test_x))[1]))
    print('------------------------------------------------------------------------------------------------------------')
    print('classifiaction_report')
    print(metrics.classification_report(train_y, model.predict(train_x)))
    print(metrics.classification_report(test_y, model.predict(test_x)))

In [103]:
model_metric_results(rf_model, train_x, train_y, test_x, test_y)

accuracy_scores
train_accuracy : 0.9287315400843882
test_accuracy : 0.9270881402861099
------------------------------------------------------------------------------------------------------------
roc_auc_scores
roc_auc_train : 0.8417774562954512
roc_auc_test : 0.819787372252355
------------------------------------------------------------------------------------------------------------
classifiaction_report
              precision    recall  f1-score   support

           0       0.93      1.00      0.96     28159
           1       1.00      0.01      0.01      2177

    accuracy                           0.93     30336
   macro avg       0.96      0.50      0.49     30336
weighted avg       0.93      0.93      0.89     30336

              precision    recall  f1-score   support

           0       0.93      1.00      0.96     12049
           1       1.00      0.01      0.01       953

    accuracy                           0.93     13002
   macro avg       0.96      0.50      0.49     13002
weighted avg       0.93      0.93      0.89     13002

In [104]:
# appending values from Random Forest Classifier
df1 = df1.append({'model_name':'Random Forest Classifier', 'train_accuracy':metrics.accuracy_score(train_y, rf_model.predict(train_x)), 'test_accuracy': metrics.accuracy_score(test_y, rf_model.predict(test_x))}, ignore_index=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\4171890312.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append({'model_name':'Random Forest Classifier', 'train_accuracy':metrics.accuracy_score(train_y, rf_model.predict(train_x)), 'test_accuracy': metrics.accuracy_score(test_y, rf_model.predict(test_x))}, ignore_index=True)

In [105]:
# XGBoost

In [106]:
#!pip install xgboost

In [107]:
from xgboost import XGBClassifier

In [108]:
# Tuning paramteres
s_grid = {'learning_rate':[0.01,0.05,0.1], 'n_estimators':[100,200,300]}

In [109]:
xgb_model = GridSearchCV(XGBClassifier(), s_grid, cv=5, scoring='roc_auc', n_jobs=-1, verbose=True)

In [110]:
xgb_model = xgb_model.fit(train_x, train_y)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

In [111]:
xgb_model.best_params_

{'learning_rate': 0.1, 'n_estimators': 200}

In [112]:
xgb_model.best_score_

0.8679924175065817

In [113]:
xgb_model_final = XGBClassifier(n_estimators=200, learning_rate=0.1)

In [114]:
xgb_model_final = xgb_model_final.fit(train_x, train_y)

In [115]:
model_metric_results(xgb_model_final,train_x,train_y,test_x,test_y)

accuracy_scores
train_accuracy : 0.9488726265822784
test_accuracy : 0.9350099984617751
------------------------------------------------------------------------------------------------------------
roc_auc_scores
roc_auc_train : 0.9512309708324551
roc_auc_test : 0.8706781603659837
------------------------------------------------------------------------------------------------------------
classifiaction_report
              precision    recall  f1-score   support

           0       0.95      1.00      0.97     28159
           1       0.86      0.34      0.49      2177

    accuracy                           0.95     30336
   macro avg       0.91      0.67      0.73     30336
weighted avg       0.95      0.95      0.94     30336

              precision    recall  f1-score   support

           0       0.94      0.99      0.97     12049
           1       0.67      0.23      0.34       953

    accuracy                           0.94     13002
   macro avg       0.80      0.61      0.65     13002
weighted avg       0.92      0.94      0.92     13002

In [116]:
# appending values from XGBoost Classifier
df1 = df1.append({'model_name':'XGBoost Classifier', 'train_accuracy':metrics.accuracy_score(train_y, xgb_model_final.predict(train_x)), 'test_accuracy': metrics.accuracy_score(test_y, xgb_model_final.predict(test_x))}, ignore_index=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\3224528233.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append({'model_name':'XGBoost Classifier', 'train_accuracy':metrics.accuracy_score(train_y, xgb_model_final.predict(train_x)), 'test_accuracy': metrics.accuracy_score(test_y, xgb_model_final.predict(test_x))}, ignore_index=True)

In [118]:
# display of all models with train & test accuracy
df1

                 model_name  train_accuracy  test_accuracy
0       Logistic regression        0.726299       0.717659
1  Random Forest Classifier        0.928732       0.927088
2        XGBoost Classifier        0.948873       0.935010

In [119]:
# based on the accuracy we can select XGBoost classifier & the model is xgb_model_final

### Classification with sampling

In [154]:
# for processing the data we will take sample of data from Final_data_binary

sample_data = data.sample(n=20000, random_state=123)

In [155]:
sample_data

,user_id,vehicle_model_id,travel_type_id,from_area_id,online_booking,mobile_site_booking,from_lat,from_long,Car_Cancellation,day_of_jrny,month_of_jrny,year_of_jrny,jrny_time,jrny_min
2259,23090,12,2,1379.0,0,0,13.062088,77.533286,1,25,1,2013,17,30
4700,12750,12,2,1173.0,1,0,12.959979,77.647998,0,19,2,2013,6,45
10436,29522,12,2,1383.0,0,0,12.969368,77.641302,0,23,4,2013,8,45
23584,36997,12,2,1337.0,1,0,12.975693,77.729096,1,19,7,2013,19,45
11492,29504,12,2,396.0,1,0,12.920730,77.664820,1,28,4,2013,20,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33477,42804,89,3,450.0,0,1,12.933400,77.626520,0,15,9,2013,18,15
22853,986,12,2,814.0,0,0,12.908993,77.688900,0,15,7,2013,9,45
26458,38536,12,3,393.0,1,0,13.199560,77.706880,0,6,8,2013,10,15
7347,26765,12,2,832.0,1,0,12.880190,77.645580,0,19,3,2013,17,0
5615,25208,24,2,393.0,0,0,13.199560,77.706880,0,27,2,2013,22,45

In [156]:
sample_data = sample_data.reset_index(drop=True)

In [157]:
sample_data

,user_id,vehicle_model_id,travel_type_id,from_area_id,online_booking,mobile_site_booking,from_lat,from_long,Car_Cancellation,day_of_jrny,month_of_jrny,year_of_jrny,jrny_time,jrny_min
0,23090,12,2,1379.0,0,0,13.062088,77.533286,1,25,1,2013,17,30
1,12750,12,2,1173.0,1,0,12.959979,77.647998,0,19,2,2013,6,45
2,29522,12,2,1383.0,0,0,12.969368,77.641302,0,23,4,2013,8,45
3,36997,12,2,1337.0,1,0,12.975693,77.729096,1,19,7,2013,19,45
4,29504,12,2,396.0,1,0,12.920730,77.664820,1,28,4,2013,20,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,42804,89,3,450.0,0,1,12.933400,77.626520,0,15,9,2013,18,15
19996,986,12,2,814.0,0,0,12.908993,77.688900,0,15,7,2013,9,45
19997,38536,12,3,393.0,1,0,13.199560,77.706880,0,6,8,2013,10,15
19998,26765,12,2,832.0,1,0,12.880190,77.645580,0,19,3,2013,17,0
19999,25208,24,2,393.0,0,0,13.199560,77.706880,0,27,2,2013,22,45

In [159]:
sample_data.Car_Cancellation.value_counts()

0    18523
1     1477
Name: Car_Cancellation, dtype: int64

In [160]:
x = sample_data[sample_data.columns.difference(['Car_Cancellation'])]
y = sample_data.Car_Cancellation

In [161]:
#!pip install imblearn

In [162]:
# performing oversampling
# !pip install imblearn -------> we have to install if its not already installed on machine
from imblearn.over_sampling import SMOTE

In [163]:
sm = SMOTE(random_state=42)

In [164]:
y

0        1
1        0
2        0
3        1
4        1
        ..
19995    0
19996    0
19997    0
19998    0
19999    0
Name: Car_Cancellation, Length: 20000, dtype: int64

In [165]:
oversample = SMOTE()
x_res, y_res = oversample.fit_resample(x, y)

In [166]:
x.shape

(20000, 13)

In [167]:
x

,day_of_jrny,from_area_id,from_lat,from_long,jrny_min,jrny_time,mobile_site_booking,month_of_jrny,online_booking,travel_type_id,user_id,vehicle_model_id,year_of_jrny
0,25,1379.0,13.062088,77.533286,30,17,0,1,0,2,23090,12,2013
1,19,1173.0,12.959979,77.647998,45,6,0,2,1,2,12750,12,2013
2,23,1383.0,12.969368,77.641302,45,8,0,4,0,2,29522,12,2013
3,19,1337.0,12.975693,77.729096,45,19,0,7,1,2,36997,12,2013
4,28,396.0,12.920730,77.664820,45,20,0,4,1,2,29504,12,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,15,450.0,12.933400,77.626520,15,18,1,9,0,3,42804,89,2013
19996,15,814.0,12.908993,77.688900,45,9,0,7,0,2,986,12,2013
19997,6,393.0,13.199560,77.706880,15,10,0,8,1,3,38536,12,2013
19998,19,832.0,12.880190,77.645580,0,17,0,3,1,2,26765,12,2013
19999,27,393.0,13.199560,77.706880,45,22,0,2,0,2,25208,24,2013

In [168]:
x_res.shape

(37046, 13)

In [169]:
x_res

,day_of_jrny,from_area_id,from_lat,from_long,jrny_min,jrny_time,mobile_site_booking,month_of_jrny,online_booking,travel_type_id,user_id,vehicle_model_id,year_of_jrny
0,25,1379.000000,13.062088,77.533286,30,17,0,1,0,2,23090,12,2013
1,19,1173.000000,12.959979,77.647998,45,6,0,2,1,2,12750,12,2013
2,23,1383.000000,12.969368,77.641302,45,8,0,4,0,2,29522,12,2013
3,19,1337.000000,12.975693,77.729096,45,19,0,7,1,2,36997,12,2013
4,28,396.000000,12.920730,77.664820,45,20,0,4,1,2,29504,12,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37041,3,111.553149,12.938700,77.662414,37,18,0,7,1,2,25846,49,2013
37042,13,1013.511776,12.968166,77.735063,28,19,0,9,0,2,42672,12,2013
37043,11,1086.934162,12.901058,77.605986,40,17,0,9,1,2,42259,12,2013
37044,19,127.387149,12.910591,77.631998,2,18,0,5,0,2,31408,12,2013
37045,5,154.572890,12.993084,77.652447,42,6,0,5,0,2,32379,12,2013

In [170]:
y.value_counts()

0    18523
1     1477
Name: Car_Cancellation, dtype: int64

In [171]:
y_res.value_counts()

1    18523
0    18523
Name: Car_Cancellation, dtype: int64

In [172]:
# RFE
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier

In [173]:
x_res

,day_of_jrny,from_area_id,from_lat,from_long,jrny_min,jrny_time,mobile_site_booking,month_of_jrny,online_booking,travel_type_id,user_id,vehicle_model_id,year_of_jrny
0,25,1379.000000,13.062088,77.533286,30,17,0,1,0,2,23090,12,2013
1,19,1173.000000,12.959979,77.647998,45,6,0,2,1,2,12750,12,2013
2,23,1383.000000,12.969368,77.641302,45,8,0,4,0,2,29522,12,2013
3,19,1337.000000,12.975693,77.729096,45,19,0,7,1,2,36997,12,2013
4,28,396.000000,12.920730,77.664820,45,20,0,4,1,2,29504,12,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37041,3,111.553149,12.938700,77.662414,37,18,0,7,1,2,25846,49,2013
37042,13,1013.511776,12.968166,77.735063,28,19,0,9,0,2,42672,12,2013
37043,11,1086.934162,12.901058,77.605986,40,17,0,9,1,2,42259,12,2013
37044,19,127.387149,12.910591,77.631998,2,18,0,5,0,2,31408,12,2013
37045,5,154.572890,12.993084,77.652447,42,6,0,5,0,2,32379,12,2013

In [174]:
y_res

0        1
1        0
2        0
3        1
4        1
        ..
37041    1
37042    1
37043    1
37044    1
37045    1
Name: Car_Cancellation, Length: 37046, dtype: int64

In [175]:
rfe2 = RFE(RandomForestClassifier(), n_features_to_select=10)

In [176]:
rfe2.fit(x_res, y_res)

RFE(estimator=RandomForestClassifier(), n_features_to_select=10)

In [177]:
l2_rfe2 = x.columns[rfe2.get_support()]

In [178]:
list(l2_rfe2)

['day_of_jrny',
 'from_area_id',
 'from_lat',
 'from_long',
 'jrny_min',
 'jrny_time',
 'month_of_jrny',
 'travel_type_id',
 'user_id',
 'vehicle_model_id']

In [179]:
# SelectKBest
from sklearn.feature_selection import SelectKBest, f_classif

In [180]:
SKB2 = SelectKBest(f_classif, k=10).fit(x_res, y_res)

C:\Users\LingrajRipplr\anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:112: UserWarning: Features [12] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)
C:\Users\LingrajRipplr\anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:113: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

In [181]:
l3_SKB2 = x.columns[SKB2.get_support()]

In [182]:
list(l3_SKB2)

['day_of_jrny',
 'from_lat',
 'from_long',
 'jrny_time',
 'mobile_site_booking',
 'month_of_jrny',
 'online_booking',
 'travel_type_id',
 'user_id',
 'vehicle_model_id']

In [183]:
list(set(list(l2_rfe2)+list(l3_SKB2)))

['from_lat',
 'month_of_jrny',
 'jrny_min',
 'from_area_id',
 'jrny_time',
 'travel_type_id',
 'day_of_jrny',
 'user_id',
 'vehicle_model_id',
 'online_booking',
 'mobile_site_booking',
 'from_long']

In [184]:
Final_list2 = ['from_lat',
 'month_of_jrny',
 'jrny_min',
 'from_area_id',
 'jrny_time',
 'travel_type_id',
 'day_of_jrny',
 'user_id',
 'vehicle_model_id',
 'online_booking',
 'mobile_site_booking',
 'from_long']

In [185]:
x_res_new = x_res[Final_list2]
y_res = y_res

In [186]:
#vif
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [187]:
vif = pd.DataFrame()
vif["VIF_Factor"] = [variance_inflation_factor(x_res_new.values, i) for i in range(x_res_new.shape[1])]
vif["features"] = x_res_new.columns

vif.sort_values(by='VIF_Factor', ascending=False, inplace=True)
vif

      VIF_Factor             features
11  29542.738634            from_long
0   29437.238958             from_lat
5      37.132706       travel_type_id
7      16.662671              user_id
1      11.991266        month_of_jrny
4       6.143756            jrny_time
6       4.498423          day_of_jrny
3       3.864909         from_area_id
2       2.437687             jrny_min
8       1.971292     vehicle_model_id
9       1.661340       online_booking
10      1.058049  mobile_site_booking

In [188]:
# based on vif will drop variable from_long
x_res_new.drop('from_long',axis=1,inplace=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\1683019268.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_res_new.drop('from_long',axis=1,inplace=True)

In [189]:
vif = pd.DataFrame()
vif["VIF_Factor"] = [variance_inflation_factor(x_res_new.values, i) for i in range(x_res_new.shape[1])]
vif["features"] = x_res_new.columns

vif.sort_values(by='VIF_Factor', ascending=False, inplace=True)
vif

    VIF_Factor             features
0    63.127301             from_lat
5    36.872382       travel_type_id
7    16.662616              user_id
1    11.990706        month_of_jrny
4     6.141022            jrny_time
6     4.497996          day_of_jrny
3     3.840214         from_area_id
2     2.436435             jrny_min
8     1.967784     vehicle_model_id
9     1.660798       online_booking
10    1.055706  mobile_site_booking

In [190]:
# based on vif will drop variable from_lat
x_res_new.drop('from_lat',axis=1,inplace=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\1633652438.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_res_new.drop('from_lat',axis=1,inplace=True)

In [191]:
vif = pd.DataFrame()
vif["VIF_Factor"] = [variance_inflation_factor(x_res_new.values, i) for i in range(x_res_new.shape[1])]
vif["features"] = x_res_new.columns

vif.sort_values(by='VIF_Factor', ascending=False, inplace=True)
vif

   VIF_Factor             features
6   15.723203              user_id
4   14.218704       travel_type_id
0   11.801922        month_of_jrny
3    5.575689            jrny_time
5    4.312160          day_of_jrny
2    3.683688         from_area_id
1    2.368817             jrny_min
7    1.942873     vehicle_model_id
8    1.644962       online_booking
9    1.053768  mobile_site_booking

In [192]:
# based on vif will drop variable user_id
x_res_new.drop('user_id',axis=1,inplace=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\1977441281.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_res_new.drop('user_id',axis=1,inplace=True)

In [193]:
vif = pd.DataFrame()
vif["VIF_Factor"] = [variance_inflation_factor(x_res_new.values, i) for i in range(x_res_new.shape[1])]
vif["features"] = x_res_new.columns

vif.sort_values(by='VIF_Factor', ascending=False, inplace=True)
vif

   VIF_Factor             features
4   13.431092       travel_type_id
0    6.565888        month_of_jrny
3    5.542582            jrny_time
5    4.197759          day_of_jrny
2    3.676030         from_area_id
1    2.366037             jrny_min
6    1.934120     vehicle_model_id
7    1.624111       online_booking
8    1.053653  mobile_site_booking

In [194]:
# based on vif will drop variable travel_type_id
x_res_new.drop('travel_type_id',axis=1,inplace=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\2266808723.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_res_new.drop('travel_type_id',axis=1,inplace=True)

In [195]:
vif = pd.DataFrame()
vif["VIF_Factor"] = [variance_inflation_factor(x_res_new.values, i) for i in range(x_res_new.shape[1])]
vif["features"] = x_res_new.columns

vif.sort_values(by='VIF_Factor', ascending=False, inplace=True)
vif

   VIF_Factor             features
0    5.397324        month_of_jrny
3    4.632938            jrny_time
4    3.711615          day_of_jrny
2    3.347027         from_area_id
1    2.257543             jrny_min
5    1.881630     vehicle_model_id
6    1.619108       online_booking
7    1.053187  mobile_site_booking

In [196]:
new_data2 = pd.concat([x_res_new, y_res], axis=1)

In [197]:
new_data2

,month_of_jrny,jrny_min,from_area_id,jrny_time,day_of_jrny,vehicle_model_id,online_booking,mobile_site_booking,Car_Cancellation
0,1,30,1379.000000,17,25,12,0,0,1
1,2,45,1173.000000,6,19,12,1,0,0
2,4,45,1383.000000,8,23,12,0,0,0
3,7,45,1337.000000,19,19,12,1,0,1
4,4,45,396.000000,20,28,12,1,0,1
...,...,...,...,...,...,...,...,...,...
37041,7,37,111.553149,18,3,49,1,0,1
37042,9,28,1013.511776,19,13,12,0,0,1
37043,9,40,1086.934162,17,11,12,1,0,1
37044,5,2,127.387149,18,19,12,0,0,1
37045,5,42,154.572890,6,5,12,0,0,1

In [198]:
# train test split
from sklearn.model_selection import train_test_split

In [199]:
train, test = train_test_split(new_data2, test_size=0.3, random_state=123)

In [200]:
train.shape

(25932, 9)

In [201]:
test.shape

(11114, 9)

In [202]:
# model building
import statsmodels.formula.api as smf

In [203]:
eqn2 = 'Car_Cancellation~'+'+'.join(train.columns.difference(['Car_Cancellation']))
eqn2

'Car_Cancellation~day_of_jrny+from_area_id+jrny_min+jrny_time+mobile_site_booking+month_of_jrny+online_booking+vehicle_model_id'

In [204]:
model_logit2 = smf.logit(eqn2, data=train).fit()
print(model_logit2.summary())

Optimization terminated successfully.
         Current function value: 0.627938
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:       Car_Cancellation   No. Observations:                25932
Model:                          Logit   Df Residuals:                    25923
Method:                           MLE   Df Model:                            8
Date:                Fri, 14 Apr 2023   Pseudo R-squ.:                 0.09400
Time:                        19:32:33   Log-Likelihood:                -16284.
converged:                       True   LL-Null:                       -17973.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept              -2.1704      0.065    -33.631      0.000      -2.297      -2.044
day_of_jrny            -0.0107      0.002     -6.617      0.000      -0.014      -0.008
from_area_id         4.671e-05   3.11e-05      1.502      0.133   -1.42e-05       0.000
jrny_min                0.0008      0.001      0.974      0.330      -0.001       0.003
jrny_time               0.0725      0.002     30.189      0.000       0.068       0.077
mobile_site_booking    -0.8131      0.081    -10.009      0.000      -0.972      -0.654
month_of_jrny           0.2092      0.005     42.063      0.000       0.199       0.219
online_booking          0.2608      0.028      9.385      0.000       0.206       0.315
vehicle_model_id       -0.0102      0.001    -18.262      0.000      -0.011      -0.009
=======================================================================================

In [205]:
train_prob = model_logit2.predict(train)

In [206]:
test_prob = model_logit2.predict(test)

In [207]:
# metrics
from sklearn import metrics

In [208]:
print('train_auc', metrics.roc_auc_score(train.Car_Cancellation, train_prob))
print('test_auc', metrics.roc_auc_score(test.Car_Cancellation, test_prob))
print('---------------------------------------------------------------')
print('train_gini', 2*metrics.roc_auc_score(train.Car_Cancellation, train_prob)-1)
print('test_gini', 2*metrics.roc_auc_score(test.Car_Cancellation, test_prob)-1)

train_auc 0.6983366476345318
test_auc 0.6856175208280082
---------------------------------------------------------------
train_gini 0.3966732952690637
test_gini 0.3712350416560164

In [209]:
train['pred_prob'] = train_prob
test['pred_prob'] = test_prob

In [210]:
# finding best cutoff 
# Getting highest sensitivity+specificity

In [211]:
roc_df = pd.DataFrame()
for cut_off in np.linspace(0,1):
    #roc_df_temp['cut_off'] = cut_off
    train['y_pred'] = np.where(train.pred_prob>cut_off, 1, 0)
    train['TP'] = np.where(((train.Car_Cancellation ==1) & (train.y_pred==1)), 1, 0)
    train['TN'] = np.where(((train.Car_Cancellation ==0) & (train.y_pred==0)), 1, 0)
    train['FP'] = np.where(((train.Car_Cancellation ==0) & (train.y_pred==1)), 1, 0)
    train['FN'] = np.where(((train.Car_Cancellation ==1) & (train.y_pred==0)), 1, 0)
    sensitivity = train.TP.sum()/train.Car_Cancellation.sum()
    specificity = train.TN.sum()/(1-train.Car_Cancellation).sum()
    accuracy = (train.TN.sum()+train.TP.sum())/train.Car_Cancellation.count()
    roc_like_table = pd.DataFrame([cut_off, sensitivity, specificity, accuracy]).T
    roc_like_table.columns = ['cutoff', 'sensitivity', 'specificity', 'accuracy']
    roc_df = pd.concat([roc_df, roc_like_table], axis=0)

In [212]:
roc_df['Total'] = roc_df.sensitivity+roc_df.specificity

In [213]:
best_cutoff = roc_df.sort_values(by='Total', ascending=False).head(1).cutoff[0]
print('Best_cutoff: ', best_cutoff)

Best_cutoff:  0.4693877551020408

In [214]:
train['y_pred'] = np.where(train.pred_prob>best_cutoff, 1,0)

In [215]:
test['y_pred'] = np.where(test.pred_prob>best_cutoff, 1,0)

In [216]:
# roc_auc_scores

In [218]:
print('train_roc_auc_score :', metrics.roc_auc_score(train.Car_Cancellation, pd.DataFrame(train_prob)))
print('test_roc_auc_score :', metrics.roc_auc_score(test.Car_Cancellation, pd.DataFrame(test_prob)))

train_roc_auc_score : 0.6983366476345318
test_roc_auc_score : 0.6856175208280082

In [219]:
# accuracy scores

In [220]:
print('train_accuracy :', metrics.accuracy_score(train.Car_Cancellation, train.y_pred))
print('test_accuracy :', metrics.accuracy_score(test.Car_Cancellation, test.y_pred))

train_accuracy : 0.6437991670522906
test_accuracy : 0.6365844880331114

In [221]:
# classification report

In [223]:
print(metrics.classification_report(train.Car_Cancellation, train.y_pred))

              precision    recall  f1-score   support

           0       0.67      0.57      0.62     13107
           1       0.62      0.72      0.67     12825

    accuracy                           0.64     25932
   macro avg       0.65      0.64      0.64     25932
weighted avg       0.65      0.64      0.64     25932

In [224]:
print(metrics.classification_report(test.Car_Cancellation, test.y_pred))

              precision    recall  f1-score   support

           0       0.65      0.56      0.60      5416
           1       0.63      0.71      0.67      5698

    accuracy                           0.64     11114
   macro avg       0.64      0.63      0.63     11114
weighted avg       0.64      0.64      0.63     11114

In [225]:
# creating a DataFrame to store the accuracies of all model, for the purpose of comapring
df2 = pd.DataFrame(columns=['model_name','train_accuracy','test_accuracy'])

In [226]:
# appending values from logistic model
df2 = df2.append({'model_name':'Logistic regression', 'train_accuracy': metrics.accuracy_score(train.Car_Cancellation, train.y_pred), 'test_accuracy': metrics.accuracy_score(test.Car_Cancellation, test.y_pred)}, ignore_index=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\3791158290.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'model_name':'Logistic regression', 'train_accuracy': metrics.accuracy_score(train.Car_Cancellation, train.y_pred), 'test_accuracy': metrics.accuracy_score(test.Car_Cancellation, test.y_pred)}, ignore_index=True)

In [227]:
# train test split
from sklearn.model_selection import train_test_split

In [228]:
train_x, test_x, train_y,  test_y = train_test_split(x_res_new, y_res, test_size=0.3, random_state=123)

In [229]:
train_x.shape

(25932, 8)

In [230]:
train_y.shape

(25932,)

In [233]:
test_x.shape

(11114, 8)

In [234]:
test_y.shape

(11114,)

In [235]:
# Random Forest Classifier

In [236]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [237]:
#using gridsearch
pargrid_ada2 = {'n_estimators': [50, 60, 70, 80, 90, 100],
                'max_features': [2,3,4],
              'max_depth': [2,3,4,5,6]}
gscv_Rf2 = GridSearchCV(estimator=RandomForestClassifier(), 
                        param_grid=pargrid_ada2, 
                        cv=5,
                        verbose=True, n_jobs=-1, scoring='roc_auc').fit(train_x, train_y)

Fitting 5 folds for each of 90 candidates, totalling 450 fits

In [238]:
print(gscv_Rf2.best_params_)
print(gscv_Rf2.best_score_)

{'max_depth': 6, 'max_features': 4, 'n_estimators': 70}
0.8883483523248159

In [239]:
rf_model2 = RandomForestClassifier(oob_score=True,n_estimators=70 , max_depth = 6, max_features=4, n_jobs=-1)
rf_model2.fit( train_x, train_y )

RandomForestClassifier(max_depth=6, max_features=4, n_estimators=70, n_jobs=-1,
                       oob_score=True)

In [240]:
model_metric_results(rf_model2, train_x, train_y, test_x, test_y)

accuracy_scores
train_accuracy : 0.7926114453185253
test_accuracy : 0.7841461220082778
------------------------------------------------------------------------------------------------------------
roc_auc_scores
roc_auc_train : 0.8878710704858244
roc_auc_test : 0.8802134018622203
------------------------------------------------------------------------------------------------------------
classifiaction_report
              precision    recall  f1-score   support

           0       0.80      0.79      0.79     13107
           1       0.79      0.79      0.79     12825

    accuracy                           0.79     25932
   macro avg       0.79      0.79      0.79     25932
weighted avg       0.79      0.79      0.79     25932

              precision    recall  f1-score   support

           0       0.77      0.79      0.78      5416
           1       0.80      0.78      0.79      5698

    accuracy                           0.78     11114
   macro avg       0.78      0.78      0.78     11114
weighted avg       0.78      0.78      0.78     11114

In [241]:
# appending values from Random Forest Classifier
df2 = df2.append({'model_name':'Random Forest Classifier', 'train_accuracy':metrics.accuracy_score(train_y, rf_model2.predict(train_x)), 'test_accuracy': metrics.accuracy_score(test_y, rf_model2.predict(test_x))}, ignore_index=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\4031192824.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'model_name':'Random Forest Classifier', 'train_accuracy':metrics.accuracy_score(train_y, rf_model2.predict(train_x)), 'test_accuracy': metrics.accuracy_score(test_y, rf_model2.predict(test_x))}, ignore_index=True)

In [242]:
# XGBoost

In [243]:
from xgboost import XGBClassifier

In [244]:
# Tuning paramteres
s_grid2 = {'learning_rate':[0.01,0.05,0.1], 'n_estimators':[100,200,300]}

In [245]:
xgb_model2 = GridSearchCV(XGBClassifier(), s_grid2, cv=5, scoring='roc_auc', n_jobs=-1, verbose=True)

In [246]:
xgb_model2 = xgb_model2.fit(train_x, train_y)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

In [247]:
xgb_model2.best_params_

{'learning_rate': 0.1, 'n_estimators': 300}

In [248]:
xgb_model2.best_score_

0.9723432792134463

In [249]:
xgb_model_final2 = XGBClassifier(n_estimators=300, learning_rate=0.1)

In [250]:
xgb_model_final2 = xgb_model_final2.fit(train_x, train_y)

In [251]:
model_metric_results(xgb_model_final2,train_x,train_y,test_x,test_y)

accuracy_scores
train_accuracy : 0.9477093937991671
test_accuracy : 0.9152420370703617
------------------------------------------------------------------------------------------------------------
roc_auc_scores
roc_auc_train : 0.9903061307805259
roc_auc_test : 0.9744380559557814
------------------------------------------------------------------------------------------------------------
classifiaction_report
              precision    recall  f1-score   support

           0       0.93      0.97      0.95     13107
           1       0.97      0.92      0.95     12825

    accuracy                           0.95     25932
   macro avg       0.95      0.95      0.95     25932
weighted avg       0.95      0.95      0.95     25932

              precision    recall  f1-score   support

           0       0.89      0.95      0.92      5416
           1       0.94      0.89      0.91      5698

    accuracy                           0.92     11114
   macro avg       0.92      0.92      0.92     11114
weighted avg       0.92      0.92      0.92     11114

In [252]:
# appending values from XGBoost Classifier
df2 = df2.append({'model_name':'XGBoost Classifier', 'train_accuracy':metrics.accuracy_score(train_y, xgb_model_final2.predict(train_x)), 'test_accuracy': metrics.accuracy_score(test_y, xgb_model_final2.predict(test_x))}, ignore_index=True)

C:\Users\LingrajRipplr\AppData\Local\Temp\ipykernel_8224\519695811.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'model_name':'XGBoost Classifier', 'train_accuracy':metrics.accuracy_score(train_y, xgb_model_final2.predict(train_x)), 'test_accuracy': metrics.accuracy_score(test_y, xgb_model_final2.predict(test_x))}, ignore_index=True)

In [253]:
df2

                 model_name  train_accuracy  test_accuracy
0       Logistic regression        0.643799       0.636584
1  Random Forest Classifier        0.792611       0.784146
2        XGBoost Classifier        0.947709       0.915242

In [254]:
# based on the accuracy we can select XGBoost classifier & the model is xgb_model_final2